body {
 background-color: rgb(165, 39, 39);
 padding: 25%;
 padding-right: 30%;
 padding-left: 30%;
 background-image: url('/static/background.png');
 background-repeat: no-repeat;
 background-size: 100% 100%;
}

.message {
  color: red;
  text-align: center;
  font-size: xx-large;
  border-radius: 25px;
}
